<script>
document.addEventListener("DOMContentLoaded", function() {
	var article = document.getElementsByTagName("article")[0];

	if (typeof article == "undefined")
		return;

	var s = article.getElementsByTagName("a");
	var i = 0;
	var re = new RegExp("([\\.\\/\\-\\,])","g")
	while (s[i] && typeof s[i].innerHTML != "undefined" && s[i].getElementsByTagName("code").length == 0)
	{
		s[i].innerHTML = s[i].innerHTML.replace(re,"$1<wbr>");
		++i;
	}

	s = article.getElementsByTagName("code");
	i = 0;
	while (s[i] && typeof s[i].innerHTML != "undefined")
	{
		var parent = s[i].parentElement;
		while (parent && parent.tagName != "PRE" && parent.tagName != "A")
			parent = parent.parentElement;
		if (!parent)
			s[i].innerHTML = s[i].innerHTML.replace(re,"$1<wbr>");
		++i;
	}
});
</script>
